import { Injectable, NestMiddleware } from '@nestjs/common';
import { Request, Response, NextFunction } from 'express';

@Injectable()
export class {{ name.pascal }}Middleware implements NestMiddleware {
  use(req: Request, res: Response, next: NextFunction) {
    next();
  }
}